body {
  font-family: sans;
}

form,
.sendKeys,
.result {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 8px 0px;
}

.field {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.sendKeys input {
  color: black;
  background: black;
}

.sendKeys input:focus {
  background: white;
}

main {
  max-width: 1200px;
}
body {
  display: flex;
  justify-content: center;
}
section {
  margin: 1em 0em;
  padding: 1em;
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: #000000dd 3px 3px 8px 0px;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.2em;
}
input {
  margin-right: 1.3em;
}
